<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" type="text/css" href={{url_for("static",filename="css/snackbar.css")}}>
    <title>Document</title>
</head>
<body>
    <div class="ui attached stackable menu"
            style="margin:0 0 1.5em;" >
            <div class="ui container">
                <a class="item">
                <img src={{url_for("static",filename="images/banana.jpg")}}> Banana
                </a>
                <a class="item" href="https://github.com/Alfriend-xing/banana">
                <i class="github icon"></i> Home
                </a>
                <!-- <a class="item">
                <i class="grid layout icon"></i> Browse
                </a>
                <a class="item">
                <i class="mail icon"></i> Messages
                </a>
                <div class="ui simple dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
                </div> -->
            </div>
            </div>
    <div class="ui link cards" id="cards">
            <!-- <div class="card" id='ccc'>
                    <div class="content">
                        <div data-tooltip="centos" data-position="top right" id="platform">
                      <img class="right floated mini ui image" 
                      src={{url_for('static',filename='images/centos.png')}}>
                        </div>
                      <div class="header" id="ip">
                          192.168.2.100
                          <a data-tooltip="online" id="state">
                          <i class="mini green circle icon" id="state_icon"></i>
                          </a>
                      </div>
                      <div class="meta">
                          <a class="ui teal label">dev</a>
                      </div>
                      <div class="description">
                          a place to development
                      </div>
                    </div>
                    <div class="extra content">
                            <div class="label">cpu</div>
                            <div class="ui teal progress" 
                            style="margin:0 0 0 0;" 
                            data-tooltip="100/500GB" 
                            data-position="top left" 
                            data-percent="30" 
                            id="p1">
                            <div class="bar"></div>
                            </div>
                            <div class="label">mem</div>
                            <div class="ui progress" 
                            style="margin:0 0 0 0;" 
                            data-tooltip="3.8/4GB" 
                            data-position="top left" 
                            data-percent="30"
                            id="p2">
                            <div class="bar"></div>
                            </div>
                    </div>
            </div> -->
    </div>

    <script>
    $(function(){
// 开始写 jQuery 代码...
function update_form(jsondata){
    // console.log('update_form')
    var timestampms=new Date().getTime()
    var timestamp=Math.ceil(timestampms/1000)
    for (data in jsondata) {
        var id=jsondata[data]['id']
        var platform=jsondata[data]['platform']
        var ip=jsondata[data]['ip']
        var cpu=jsondata[data]['cpu']
        var mem=JSON.parse(jsondata[data]["mem"])
        var updatetime=jsondata[data]['updatetime']
        var card=$('#'+id)
        // console.log(jsondata[data])
        if (card.length > 0) {
            // console.log('timestamp'+timestamp)
            // console.log('updatetime'+updatetime)
            if (timestamp-updatetime>5) {
                if (card.find("#state_icon").attr("class")!="mini grey circle icon") {
                    myFunction({"state":false,"msg":ip+"下线"})
                    card.find("#state_icon").attr("class","mini grey circle icon")
                    var b = card.find(".bar")
                    b.first().attr("style","transition-duration: 2000ms; width:0%;")
                    b.last().attr("style","transition-duration: 2000ms; width:0%;")
                    card.find(".label#l1").text("cpu ")
                    card.find(".label#l2").text("mem ")
                }
                else {

                }
            }
            else {
                if (card.find("#state_icon").attr("class")!="mini green circle icon") {
                    myFunction({"state":true,"msg":ip+"上线"})
                    card.find("#state_icon").attr("class","mini green circle icon")
                    
                }
                else {
                    
                }
                var b = card.find(".bar")
                b.first().attr("style","transition-duration: 2000ms; width:"+cpu+"%")
                card.find(".label#l1").text("cpu "+cpu+"%")
                b.last().attr("style","transition-duration: 2000ms; width:"+mem["percent"]+"%")
                card.find(".label#l2").text("mem "+mem["percent"]+"%")
            }
            
        }
        else {
            console.log('add card')
            if (timestamp-updatetime<5) {
                myFunction({"state":true,"msg":ip+"上线"})
            }
            var t='<div class="card" id="'+id+'" onclick="serverinfo(\''+id+'\')">\
                    <div class="content">\
                        <div data-tooltip="'+platform+'" data-position="top right" id="platform">\
                      <img class="right floated mini ui image" \
                      src={{url_for("static",filename="images/centos.png")}}>\
                        </div>\
                      <div class="header" id="ip">'+ip+'<i class="mini green circle icon" id="state_icon"></i>\
                      </div>\
                      <div class="meta">\
                          <a class="ui teal label">dev</a>\
                      </div>\
                      <div class="description">\
                          a place to development\
                      </div>\
                    </div>\
                    <div class="extra content">\
                            <div class="label" id="l1">cpu</div>\
                            <div class="ui teal progress" \
                            style="margin:0 0 0 0;" \
                            data-position="top left" \
                            id="p1">\
                            <div class="bar" \
                            style="transition-duration: 2000ms; width: '+cpu+'%;"></div>\
                            </div>\
                            <div class="label" id="l2">mem</div>\
                            <div class="ui progress" \
                            style="margin:0 0 0 0;" \
                            data-tooltip="'+mem["used"]+'/'+mem["total"]+'" \
                            data-position="bottom left" \
                            id="p2">\
                            <div class="bar"  \
                            style="transition-duration: 2000ms; width: '+mem["percent"]+'%;"></div>\
                            </div>\
                    </div>\
            </div>'
            $("#cards").append(t)
        }
    }
}
function refun() {
    $.getJSON( "api", function( data ) {
        update_form(data);
        });
}
window.setInterval( refun, 1000);
$("#ccc").find("#p2").find(".bar").attr("style","transition-duration: 3000ms; width: 37%;");
});
    </script>
    <!-- <button onclick="myFunction(new Date().getTime())">Show Snackbar</button> -->

    <!-- <div id="snackbars">Some text some message..</div> -->
    <div id="snackbars"></div>
    
    <script>
    function myFunction(data) {
        // data {'state':true,'msg':'127.0.0.1上线'}
      var x = $("#snackbars");
      var sb = $("<div></div>")
      if (data['state']) {
            sb.attr({"id":"snackbar",
                        "class":"show",
                        "style":"background-color: #00b5ad;"})
                // background-color: #00b5ad #888;
      }
      else {
        sb.attr({"id":"snackbar",
                    "class":"show",
                    "style":"background-color: #888;"})
            // background-color: #00b5ad #888;
      }
    sb.text(data["msg"])
    x.append(sb)
    //   x.className = "show";
      setTimeout(function(){ sb.remove(); }, 3000);
    }
    </script>
<!-- 服务器详情页 -->
<div class="ui modal" style="max-width: 40rem;">
        
        <i class="orange close icon" style="position: absolute; top: 1rem; right: 1rem;"></i>
        <div class="header">127.0.0.1</div>
        <div class="ui top attached tabular menu">
                <a class="item active" data-tab="first">CPU</a>
                <a class="item" data-tab="second">MEM</a>
                <a class="item" data-tab="third">DISK</a>
                <a class="item" data-tab="fourth">NET</a>
                <a class="item" data-tab="fifth">OPERATION</a>
        </div>
              <div class="ui bottom attached tab segment active" style="height:20rem" data-tab="first" id="tab_CPU_chart">
                <canvas id="CPU_chart" style="width: 100%;height: 100%;"></canvas>
              </div>
              <div class="ui bottom attached tab segment" style="height:20rem" data-tab="second" id="tab_MEM_chart">
                <canvas id="MEM_chart" style="width: 100%;height: 100%;"></canvas>
              </div>
              <div class="ui bottom attached tab segment" style="height:20rem" data-tab="third" id="tab_DISK_chart">
                <canvas id="DISK_chart" style="width: 100%;height: 100%;"></canvas>
              </div>
              <div class="ui bottom attached tab segment" style="height:20rem" data-tab="fourth" id="tab_NET_chart">
                <canvas id="NET_chart" style="width: 100%;height: 100%;"></canvas>
              </div>
              <div class="ui bottom attached tab segment" style="height:20rem" data-tab="fifth" id="tab5">          
                <div class="ui form">
                    <div class="field">
                        <label>Label</label>
                        <input type="text" name="first-name" placeholder="a lebel of server">
                    </div>
                    <div class="field">
                        <label>Server description</label>
                        <textarea rows="2"  placeholder="server description"></textarea>
                    </div>
                    <div class="ui container">
                    <button class="ui primary basic button">commit</button>
                    <button class="ui right floated negative basic button">delete server data</button>
                    </div>
                </div>
            </div></br>
      </div>
      <script>
          $('.menu .item').tab()
          function serverinfo(id) {
            var ip=$("#"+id).find("#ip").text()
            $.getJSON('/api/history/'+id,function(data){
                if (data['state']) {
                    // $("div[data-tab='first']").text(data['cpu'])
                    // $("div[data-tab='second']").text(data['mem'])
                    // $("div[data-tab='third']").text(data['disk'])
                    // $("div[data-tab='fourth']").text(data['net'])
                    var datetime= new Array()
                    // var time_zone=new Date().getTimezoneOffset()/60
                    for (i=0,len=data["updatetime"].length;i<len;i++) {
                        tmp_time=new Date(Number(data["updatetime"][i])*1000)
                        datetime[i]= tmp_time.getMonth()+'-'+tmp_time.getDate()+' '+tmp_time.getHours()+':'+tmp_time.getMinutes()
                        console.log(datetime[i])
                    }
                    drawchart({"id":"CPU_chart",
                    "type":"cpu",
                    "x":datetime,
                    "y":data["cpu"],
                    "title":"过去一周CPU使用情况",
                    "label":"CPU使用率"})
                    drawchart({"id":"MEM_chart",
                    "type":"mem",
                    "x":datetime,
                    "y":data["mem"],
                    "title":"过去一周内存使用情况",
                    "label":"内存使用率"})
                    drawchart({"id":"DISK_chart",
                    "type":"disk",
                    "x":datetime,
                    "y":data["disk"],
                    "title":"过去一周硬盘使用情况",
                    "label":"硬盘使用率"})
                    drawchart({"id":"NET_chart",
                    "type":"net",
                    "x":datetime,
                    "y":data["net"],
                    "title":"过去一周网络使用情况",
                    "label":""})
                }
                else {
                    $("div[data-tab='first']").text('ERROR')
                    $("div[data-tab='second']").text('ERROR')
                    $("div[data-tab='third']").text('ERROR')
                }
            });
            $('.ui.modal').find(".header").text(ip)
            $('.ui.modal')
            .modal({
                dimmerSettings: { opacity: 0.3 }
                }).modal('show');
          }
      </script>
      <button onclick="serverinfo('1')">Show serverinfo</button>

      <!-- 画图函数 -->
      <script>
      function drawchart(data) {
          var type=data['type']
          var elementid=data['id']
          var x=data['x']
          var y=data['y']
          var title=data['title']
          var label=data['label']
          $("#"+elementid).remove();
            $('#tab_'+elementid).append('<canvas id="'+elementid+'" style="width: 100%;height: 100%;"></canvas>');
            var ctx = $("#"+elementid)[0].getContext('2d');
            if (type=='net') {
                var upload=new Array()
                var dwload=new Array()
                for(j = 0,len=y.length; j < len; j++) {
                    console.log(y)
                    console.log(y[j])
                    if (y[j]==0) {
                    upload[j]=0
                    dwload[j]=0
                    }
                    else {
                    var tmp=y[j].split('/')
                    upload[j]=Number(tmp[0])
                    dwload[j]=Number(tmp[1])
                    }
                }
                var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: x, //['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: "上传流量", //'My First dataset',
                        fill: false,
                        backgroundColor: 'rgb(0,181,173)',//#00b5ad
                        borderColor: 'rgb(0,181,173)',
                        data: upload, //[0, 10, 5, 2, 20, 30, 45]
                    },
                    {
                        label:"下载流量",
                        fill: false,
                        backgroundColor: 'rgb(118,118,118)', //#767676
                        borderColor: 'rgb(118,118,118)',
                        data: dwload, //[0, 10, 5, 2, 20, 30, 45]
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: title
                    },
                }
                
                // options: {
                //         scales: {
                //             yAxes: [{
                //                 ticks: {
                //                     suggestedMin: 0,
                //                     suggestedMax: 100
                //                 }
                //             }]
                //         }
                //     }
            });
            }
            else {
                var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: x, //['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: label, //'My First dataset',
                        backgroundColor: 'rgba(0,181,173,0.5)',
                        borderColor: 'rgb(0,181,173)',
                        pointBorderWidth:5,
                        borderWidth:1,
                        data: y, //[0, 10, 5, 2, 20, 30, 45]
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: title
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 100,
                            }
                        }]
                    }
                }
            });
            }
            
            }
      </script>
</body>
</html>