<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="ui attached stackable menu">
            <div class="ui container">
                <a class="item">
                <i class="home icon"></i> Home
                </a>
                <a class="item">
                <i class="grid layout icon"></i> Browse
                </a>
                <a class="item">
                <i class="mail icon"></i> Messages
                </a>
                <div class="ui simple dropdown item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
                </div>
                <div class="right item">
                <div class="ui input"><input type="text" placeholder="Search..."></div>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>只显示在线主机</label>
                </div>
            </div>
            </div>
    <div class="ui link cards" id="cards">
            <!-- <div class="card" id='ccc'>
                    <div class="content">
                      <img class="right floated mini ui image" src={{url_for('static',filename='images/centos.png')}}>
                      <div class="header">
                          192.168.2.100
                      </div>
                      <div class="meta">
                          <a class="ui teal label">dev</a>
                      </div>
                      <div class="description">
                          a place to development
                      </div>
                    </div>
                    <div class="extra content">
                        <div class="content">
                            <div class="label">cpu</div>
                            <div class="ui indicating progress" 
                            data-tooltip="100/500GB" 
                            data-position="top left" 
                            data-percent="74">
                            <div class="bar" style="width:74%;"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="label">mem</div>
                            <div class="ui indicating progress" 
                            data-tooltip="3.8/4GB" 
                            data-position="top left" 
                            data-percent="74">
                            <div class="bar" style="width:74%;"></div>
                            </div>
                        </div>
                    </div>
                  </div>
        <div class="card">
          <div class="content">
            <img class="right floated mini ui image" src={{url_for('static',filename='images/centos.png')}}>
            <div class="header">
                192.168.2.101
            </div>
            <div class="meta">
                <a class="ui teal label">test</a>
            </div>
            <div class="description">
                a place to test
            </div>
          </div>
          <div class="extra content">
              <div class="content">
                  <div class="label">cpu</div>
                  <div class="ui indicating progress" 
                  data-tooltip="100/500GB" 
                  data-position="top left" 
                  data-percent="74">
                  <div class="bar" style="width:74%;"></div>
                  </div>
                </div>
                <div class="content">
                  <div class="label">mem</div>
                  <div class="ui indicating progress" 
                  data-tooltip="3.8/4GB" 
                  data-position="top left" 
                  data-percent="74">
                  <div class="bar" style="width:74%;"></div>
                  </div>
              </div>
          </div>
        </div> -->
    </div>
    <script>
    $(function(){
// 开始写 jQuery 代码...
function update_form(jsondata){
    console.log('update_form')
    for (data in jsondata) {
        console.log(jsondata[data])
        if ($('#'+jsondata[data]['id']).length > 0) {
            var b = $('#'+jsondata[data]['id']).find(".bar")
            b.first().attr("style","width:"+jsondata[data]["cpu"]+"%")
            b.last().attr("style","width:"+JSON.parse(jsondata[data]["mem"])["percent"]+"%")
        }
        else {
            console.log('add card')
            var t='<div class="card" id="'+jsondata[data]['id']+'">\
                    <div class="content">\
                      <img class="right floated mini ui image" src={{url_for("static",filename="images/centos.png")}}>\
                      <div class="header">\
                          192.168.2.100\
                      </div>\
                      <div class="meta">\
                          <a class="ui teal label">dev</a>\
                      </div>\
                      <div class="description">\
                          a place to development\
                      </div>\
                    </div>\
                    <div class="extra content">\
                        <div class="content">\
                            <div class="label">cpu</div>\
                            <div class="ui indicating progress" \
                            data-tooltip="100/500GB" \
                            data-position="top left" \
                            data-percent="74">\
                            <div class="bar" style="width:74%;"></div>\
                            </div>\
                        </div>\
                        <div class="content">\
                            <div class="label">mem</div>\
                            <div class="ui indicating progress" \
                            data-tooltip="3.8/4GB" \
                            data-position="top left" \
                            data-percent="74">\
                            <div class="bar" style="width:74%;"></div>\
                            </div>\
                        </div>\
                    </div>\
                  </div>'
            $("#cards").append(t)
        }
    }
}
function refun() {
    $.getJSON( "api", function( data ) {
        update_form(data);
        });
    // update_form([{'id':'ccc',
    // 'cpu':Math.ceil(Math.random()*100),
    // 'mem':Math.ceil(Math.random()*100)}]);
}
window.setInterval( refun, 1000);
});
    </script>
</body>
</html>